/*----------------------------------------------------------------------------*/
/*#FOOTER STYLE*/
/*----------------------------------------------------------------------------*/


.footer {
    position: relative;
    background-color: $footer-bg;
    padding-top: 130px;
    padding-bottom: 160px;
    color: #fff;

    @media (max-width: $screen-lg) {
        padding-top: 90px;
        padding-bottom: 120px;
    }

    @media (max-width: $screen-md) {
        padding-top: 70px;
        padding-bottom: 90px;
        text-align: center;    
    }

    @media (max-width: $screen-sm) {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    &__navigation {
        width: 90%;
        display: flex;
        justify-content: space-between;

        @media (max-width: $screen-md) {
            width: 100%;
            justify-content: space-evenly;

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { justify-content: space-around; }
        }
    }

    &__text {
        font-family: Roboto, sans-serif;
        width: 80%;
       
        font-size: 15px;
        line-height: 1.73;


        &--thin{
            font-weight: 100;
            margin-top: -10px;

            @media (max-width: $screen-md) { width: 100%; }
        }

        &--bolder {
            @extend .txt--white;
            margin-bottom: 55px;
            font-weight: 300;
        
            @media (max-width: $screen-md) {
                margin-left: auto;
                margin-right: auto;
            }
            @media (max-width: $screen-sm) { margin-bottom: 30px; }
        }   
    }

    &__social svg { 
        margin-right: 20px;
        transition: all 0.3s ease-in-out; 
        
        &:hover { 
            transition: all 0.3s ease-in-out; 
            transform: scale(1.5); 
        }
    }

    &__links {
        display: flex;
        flex-direction: column;

        a {
            margin-bottom: 10px;
            text-decoration: none;
            font-weight: 100;
            font-size: 16px;
            line-height: 1.625;
            color: #fff;
            transition: all 0.3s ease-in-out; 

            &:hover { 
                transition: all 0.3s ease-in-out; 
                color: $primary; 
            }
        }
    }
    
    &__padding {
        padding-left: 65px;

        @media (max-width: $screen-lg) { padding-left: 0; }

        @media (max-width: $screen-xs) { 
            padding-left: 15px; 
            padding-bottom: 10px;
        }
    }

    &__subs {
        display: flex;
        padding-bottom: 20px;

        @media (max-width: $screen-md) { justify-content: center; }
    }

    &__rights {
        position: absolute;
        bottom: 55px;
        left: 0;
        right: 0;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-size: 16px;  
        
        @media (max-width: $screen-sm) { bottom: 40px; }
    }

    &__msg {
        height: 20px;
        font-size: 15px;
        margin-top: -15px;
    
        &--error { color: red; }
        &--success {  color: green }
    }
}
