/*----------------------------------------------------------------------------*/
/*#MENU STYLE*/
/*----------------------------------------------------------------------------*/

input[type="checkbox"] {
    display: none;

    @media (max-width: $screen-md) { 
        position: absolute;
        display: block;
        cursor: pointer;
        height: 35px;
        width: 35px;
        top: 20px;
        right: 15px;
        z-index: 5;
        opacity: 0;
    }
}

.menu-trigger {
    display: none;

    @media (max-width: $screen-md) { 
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 2;
    }
    
    @media (max-width: $screen-xs) { 
        top: 15px;
    }

    &__line1, &__line2, &__line3 {
      width: 35px;
      height: 5px;
      background-color: $primary;
      margin: 6px 0;
      transition: 0.4s;
    }

}


  
@media (max-width: $screen-md) { 
  input[type="checkbox"]:checked ~ .menu-trigger .menu-trigger__line1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  input[type="checkbox"]:checked ~ .menu-trigger .menu-trigger__line2 {
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .menu-trigger .menu-trigger__line3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}
