/*----------------------------------------------------------------------------*/
/*#BACKGROUND STYLE*/
/*----------------------------------------------------------------------------*/


.bg {

    &--image {
        padding-top: 110px;
        background-image:  linear-gradient(to left, rgba(4, 14, 39, 0.27) 0%, rgba(4, 14, 39, 0.7) 61.04%), url("../images/hero_background_image.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
        @media (max-width: $screen-md) { padding-top: 80px; }
      
        @media (max-width: $screen-md) { padding-top: 60px; }
    }
  
    &--yellow { background-color: #FFFBEF;  }

    &--transparent { background-color: transparent; }

    &--blue { background-color: #2d3c58; }
}


